var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);

ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  if ( data.func == 'post' ) {
    var tr = "<tr><td>" + data.created_at + "</td><td>" +  data.text + "</td><td></td></tr>"
    $(tr).insertBefore('table > tbody > tr:first').slideDown();;
  }
};

$("#play-button").on("click", function() {
  ws.send(JSON.stringify({ func: 'play', text: $(this).data('text') }));
});
